nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    text-decoration: none;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
        
}
@font-face {
    font-family: Ringbearer;
    src: url(../assets/fonts/ringbearer/Ringbearer.TTF);
}
body {
    background-image: url(../assets/images/Background.jpg);
    background-color: #cccccc;
}

/* HEADER */
header {
    background-color: goldenrod;
    grid-area: header;
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin: 1rem
}
header a{
    text-decoration: none;
    font-family: Ringbearer;
}
header h1:hover{
    transition: 1s;
    color: #cccccc;
}
header h1 {
    transition: 1s;
    text-decoration: none;
    color: #222222;
    padding: 10px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 1rem
}

header nav ul li a {
    font-size: 1.15em;
    color: #222222;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    transition: 500ms;
}

header nav ul li a:hover {
    background-color: #222222;
    border-radius: 0.2vw;
    color: goldenrod;
    transition: 500ms;
}

/* FOOTER */

footer{
    margin-top: 2rem;
    background-color: goldenrod;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}
footer a{
    margin: auto;
    color: #222222;
    text-decoration: none
}
footer h1{
    color: #222222;
    transition: 1s;
    font-size: 1.5rem;
}
footer h1:hover{
    color: white;
    transition: 1s;
}

/*MAIN*/
h1 {
    font-family: Ringbearer;
    color: goldenrod;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
}

h2 {
    font-family: Ringbearer;
    color: goldenrod;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

h3 {
    font-family: Ringbearer;
    color: goldenrod;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#Gamemode {
    display: grid;
    align-items: top;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
}

#Gamemode img {
    display: block;
    margin: auto;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-color: goldenrod;
    transition: ease-in-out 0.5s;
}
#Gamemode img:hover {
    transition: ease-in-out 0.5s;
    opacity: 75%;
    scale: 1.03;
}

#Lists {
    display: grid;
    align-items: top;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
}

#Lists a {
    text-align: center;
    margin: auto;
    text-decoration: none;
}

#Lists button {
    text-align: center;
    font-family: Ringbearer;
    font-weight: 0;
    font-size: 14px;
    color: goldenrod;
    background-color: #ffffff00;
    padding: 10px 30px;
    border: solid goldenrod 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1460ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.5px;
}

#Lists button:hover {

    transition: 1460ms;
    padding: 10px 30px;
    transform: translateY(-0px);
    background-color: #504f4fc8;
    color: #ffb300;
    border: solid 2px #ffb300;
}

/* BORDER */
.element {
    box-sizing: border-box;
    display: inline-block;
    border-color: var(--secondary-color);
    border-width: 10px;
    text-align: center;
    color: white;
}

.element--inset {
    border-style: inset;
}
/* 10 rondes */
#answers{
    align-items: center;
    margin: 10rem ;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#answers a{
    text-decoration: none;
}
#answers button{
    display: block;
    margin: auto;
    text-align: center;
    font-family: Ringbearer;
    font-weight: 0;
    font-size: 14px;
    color: goldenrod;
    background-color: #ffffff00;
    padding: 10px 30px;
    border: solid goldenrod 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1460ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.5px;
}


/* Favorieten */
#containerPrint{
    text-align: right;
    margin-right: 2rem;
}
#favorieten i{
    color: goldenrod;
    transition: 1s;
    cursor: pointer;
    font-size: 4rem;
}
#favorieten i:hover{
    color: rgb(227, 140, 17);
}
#FavoriteList{
    font-family: Ringbearer;
    color: goldenrod;
    font-size: 1.5rem;
    
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    align-items: top; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#favorieten a{
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: solid goldenrod 1.5px;
}
#FavoriteListActive{
    font-family: Ringbearer;
    color: goldenrod;
    font-size: 1rem;
    
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    align-items: top; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#FavoriteListVerwijder{
    transition: 0.5s;
    cursor: pointer;
}
#FavoriteListVerwijder:hover{
    transition: 0.5s;
    color: rgb(227, 140, 17);
}
/* Blacklist */
#containerPrint{
    text-align: right;
    margin-right: 2rem;
}
#Blacklist i{
    color: goldenrod;
    transition: 1s;
    cursor: pointer;
    font-size: 4rem;
}
#Blacklist i:hover{
    color: rgb(227, 140, 17);
}
#BlacklistList{
    font-family: Ringbearer;
    color: goldenrod;
    font-size: 1.5rem;
    
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    align-items: top; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#Blacklist a{
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: solid goldenrod 1.5px;
}
#BlacklistListActive{
    font-family: Ringbearer;
    color: goldenrod;
    font-size: 1rem;
    
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    align-items: top; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#BlacklistListVerwijder{
    transition: 0.5s;
    cursor: pointer;
}
#BlacklistListVerwijder:hover{
    transition: 0.5s;
    color: rgb(227, 140, 17);
}


/* INDEX */

#indexProjects {
    display: grid;
    align-items: top;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#indexProjectsTitle{
    margin-top: 2rem;
}
#indexProjects img{
    display: block;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    max-width: 50%;
    border-color: goldenrod;
    transition: ease-in-out 0.5s;
}
#indexProjects img:hover {
    transition: ease-in-out 0.5s;
    opacity: 75%;
    scale: 1.03;
}

/* LOGIN */
#inlogPage{
    display: flex;
    font-family: Ringbearer;
    color: goldenrod;
    font-size: 1.2rem;
}
#inlogPageForm{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    padding: 5rem;
    border: goldenrod 3px solid;
    border-radius: 15px;
}
#btnForm {
    text-align: center;
    font-family: Ringbearer;
    font-size: 14px;
    color: goldenrod;
    background-color: #ffffff00;
    padding: 10px 30px;
    border: solid goldenrod 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1460ms;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.5px;
}
#btnForm:hover {

    transition: 1460ms;
    background-color: #504f4fc8;
    color: goldenrod;
    border: solid 2px goldenrod;
}
#inlogPageForm input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid goldenrod;
    background-color: none;
    color: grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#inlogPageForm input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid goldenrod;
    background-color: none;
    color: grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}