<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - Projecten</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/popup.js" defer></script>
</head>

<body>
    <main>
        <h1 id="indexProjectsTitle">Kies een project</h1>
        <section id="indexProjects">
            <article class="indexArticle">
                <a href="#" class="popupIndex"><img src="/assets/images/FIFA.jpg" class="element element--inset"
                        alt="FIFA"></a>
                <h3>Fifa</h3>
            </article>
            <article class="indexArticle">
                <a href="#" class="popupIndex"><img src="/assets/images/Fortnite.jpg" class="element element--inset"
                        alt="Fortnite"></a>
                <h3>Fortnite</h3>
            </article>
            <article class="indexArticle">
                <a href="#" class="popupIndex"><img src="/assets/images/LM.jpg" class="element element--inset"
                        alt="LegoMasters"></a>
                <h3>LegoMasters</h3>
            </article>
            <article class="indexArticle">
                <a href="../login"><img src="/assets/images/LOTR.jpg" class="element element--inset" alt="LOTR"></a>
                <h3>Lord of the Rings</h3>
            </article>
            <article class="indexArticle">
                <a href="#" class="popupIndex"><img src="/assets/images/MTG.jpg" class="element element--inset"
                        alt="MTG"></a>
                <h3>Magic the gathering</h3>
            </article>
            <article class="indexArticle">
                <a href="#" class="popupIndex"><img src="/assets/images/Pokemon.jpg" class="element element--inset"
                        alt="Pokemon"></a>
                <h3>Pokémon</h3>
            </article>
        </section>
    </main>
</body>

</html>