<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - Registreren</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <h1 id="indexProjectsTitle">Registreren</h1>
        <section id="inlogPage">
            <form action="/registreer" method="post" id="inlogPageForm">
                <label for="username">Gebruikersnaam:</label><br>
                <input type="username" id="username" name="username" value="username..." onfocus=this.value=''><br>
                <label for="password">Wachtwoord:</label><br>
                <input type="password" id="password" name="password" value="password" onfocus=this.value=''><br><br>
                <label for="password">Bevestig wachtwoord:</label><br>
                <input type="password" id="password2" name="password2" value="password2" onfocus=this.value=''><br><br>
                <input type="submit" id="btnForm" value="Registreren">
            </form>
        </section>
    </main>
</body>

</html>