<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - 10 rondes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <h1 id="qoute"><%= quote %></h1>
        <section id="answers">
            <div>
                <a href="#"><button id="btn"><h3>dit is antwoord 1</h3></button></a>
            </div>
            <div>
                <a href="#"><button id="btn"><h3>dit is antwoord 2</h3></button></a>
            </div>
            <div>
                <a href="#"><button id="btn"><h3>dit is antwoord 3</h3></button></a>
            </div>
        </section>
        <section id="answers">
            <div>
                <a href="#"><button class="btn"><h3>dit is antwoord 4</h3></button></a>
            </div>
            <div>
                <a href="#"><button class="btn"><h3>dit is antwoord 5</h3></button></a>
            </div>
            <div>
                <a href="#"><button class="btn"><h3>dit is antwoord 6</h3></button></a>
            </div>
        </section>
    </main>
    <%- include("partials/footer") %>
</body>
</html>