<!DOCTYPE html>
<html>
  <head>
    <title>The LOTR quiz</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <footer  class="footerAbsolute">
        <a href="/homepage"><h1>The Fellowship</h1>© - 2024 - all rights reserved</a>
    </footer>
  </body>
</html>
